.style{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
}
.style1{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    padding: 50px;
    flex-direction: column;
}
.style2{
 display: flex;
 align-items: center;
 color: white;
}
.style3{
    color: #111
}
.yes-btn{
    background-color: red;
}
.no-btn{
    background-color: green;
}